<div class="card">
                <div class="card-header">
                  <h4>Danh sách danh mục</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Danh mục</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="category in categories.data">
                          <th scope="row">{{category.CategoryId}}</th>
                          <td>{{category.CategoryName}}</td>
                          
                          <td>
                            <button type="button" class="btn btn-danger" ng-click="deleteData(category.CategoryId)"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-info" ng-click="showDataEdit(category.CategoryId,category.CategoryName)"><i class="fa fa-edit"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
<div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Category</h4>
                </div>
                <div class="card-body">
                  <p>Chỉnh sửa dữ liệu </p>
                  <form>
                    <div class="form-group">
                      <label>Id</label>
                      <input type="text" placeholder="Category Id" class="form-control" ng-model = "id">
                    </div>
                    <div class="form-group">       
                      <label>Category</label>
                      <input type="text" placeholder="Category Name" class="form-control" ng-model = "cName">
                    </div>
                    <div class="form-group">       
                      <input type="button" value="Nhập" class="btn btn-primary" ng-click="insertData()">
                      <input type="button" value="Sửa" class="btn btn-info" ng-click="editData()">
                    </div>
                  </form>
                </div>
              </div>