<div class="card">
                <div class="card-header">
                  <h4>Danh sách người dùng</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Tên đăng nhập</th>
                          <th>Quyền</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="(key,user) in users.data">
                          <th scope="row">{{key+1}}</th>
                          <td>{{user.userEmail}}</td>
                          <td>{{user.Role}}</td>
                          <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target = "#deleteModal" ng-click = "getDeletingId(user.userId)"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-info" ng-click="showDataEdit(user.userId,user.userEmail,user.Role,user.userPassword)"><i class="fa fa-edit"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
<div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>User</h4>
                </div>
                <div class="card-body">
                  <p>Chỉnh sửa dữ liệu </p>
                  <form>
                    <!-- <div class="form-group">
                      <label>Id</label>
                      <input type="text" placeholder="User Id" class="form-control" ng-model = "uId">
                    </div> -->
                    <div class="form-group">       
                      <label>Email</label>
                      <input type="text" placeholder="Vui lòng nhập email .." class="form-control" ng-model = "uEmail">
                    </div>
                    <div class="form-group">       
                      <label>Password</label>
                      <input type="password" placeholder="Vui lòng nhập password .." class="form-control" ng-model = "uPass">
                    </div>
                    <div class="form-group">       
                      <label>Role</label>
                      <input type="text" placeholder="Quyền" class="form-control" ng-model = "role">
                    </div>
                    <div class="form-group">       
                      <input type="button" value="Nhập" class="btn btn-primary" data-toggle="modal" data-target = "#insertModal">
                      <input type="button" value="Sửa" class="btn btn-info" data-toggle="modal" data-target = "#editModal">
                    </div>
                  </form>
                </div>
              </div>
                              <!-- Model delete -->
                <div id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 id="exampleModalLabel" class="modal-title">Xoá sản phẩm</h3>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <p>Bạn đang chuẩn bị xoá 1 sản phẩm , bạn đã chắc chắn ?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                          <button type="button" data-dismiss="modal" class="btn btn-danger" ng-click="deleteData(deletingId)">Xoá</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Insert modal -->
                    <div id="insertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 id="exampleModalLabel" class="modal-title">Thêm sản phẩm</h3>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <p>Bạn có chắc chắn muốn thêm ?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                          <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click = "insertData()">Thêm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Edit modal -->
                    <div id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 id="exampleModalLabel" class="modal-title">Chỉnh sửa sản phẩm</h3>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <p>Bạn có chắc chắn muốn sửa không ?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                          <button type="button" data-dismiss="modal" class="btn btn-info" ng-click="editData()">Sửa</button>
                        </div>
                      </div>
                    </div>
                  </div>